<section>
    <div>
        <aside>
            <img src={Concept} alt="Concept" />
        </aside>
        <article>
            <span>Niveau 1</span>
            <h2>Explorateur</h2>
            <img src={Time} alt="Time" className="time" />
            <p>10mn</p>
            <a href="Niveau.js" className="btn-unfilled">Selectionner</a>
        </article>
        <aside>

            <img src={Progression} alt="Aventurier" />
        </aside>
        <article>
            <span>Niveau 2</span>
            <h2>Aventurier</h2>
            <img src={Time} alt="Time" className="time" />
            <p>15mn</p>
            <a href="Niveau.js" className="btn-unfilled">Selectionner</a>
        </article>

        <aside>
            <img src={Concept} alt="Chevalier" />

        </aside>
        <article>
            <span>Niveau 3</span>
            <h2>Chevalier</h2>
            <img src={Time} alt="Time" className="time" />
            <p>20mn</p>
            <a href="Niveau.js" className="btn-unfilled">Selectionner</a>
        </article>
    </div>
</section>